body {
  background-color: #FFFFFF;
}

.style6 {
    color: #E9E9E9;
}

A:LINK {
    text-decoration: none;
    color: #999999;
}

A:VISITED {
    text-decoration: none;
    color: #999999;
}

A:HOVER {
    text-decoration: none;
    color: #333333;
}

.copyrt {
    font-family: Courier New;
    font-size: 10px;
    color: #D7D7D7;
    padding-left: 3px;
}

.CaptlText {
    font-family: Helvetica;
    font-size: 11px;
    color: #666666;
}

.CaptlText2 {
    font-family: Helvetica;
    font-size: 11px;
    color: #666666;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Box {
    border-color: #E9E9E9;
    border-width: 0px;
    border-style: solid;
}

.navigation_text {
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    color: #333333;
    padding-left: 3px;
}

.topMenu {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    color: #333333;
}

.fotoBox {
    padding-Top: 50px;
    padding-left: 6px;
}

.fotoBox2 {
    padding-Top: 30px;
    padding-left: 3px;
}

.topMenuBox {
    padding-Top: 10px;
    padding-left: 3px;
}

.BottomDetailBox {
    padding-Top: 0px;
    padding-left: 3px;
}

.bottmotext {
    border: 0px none;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 10px;
    color: #999999;
}

.MenuLeft {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 11px;
    color: #666666;
}

.menuBox {
    border-bottom-color: #CCCCCC;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

.menuBoxLeft {
    border-right-color: #CCCCCC;
    border-right-width: 0px;
    border-right-style: dotted;
    padding-right: 25px;
    padding-top: 0px;
}

.collection {
    border: 0px none;
    font-family: "Courier New";
    font-size: 12px;
    line-height: 25px;
}

#arrowLeft {
    height: 528px;
    width: 20px;
    background: #cc0000;
    position: absolute: z-index: 2000;
    float: left;
}

#arrowRight {
    height: 528px;
    width: 20px;
    background: #333333;
    z-index: 2001;
    position: absolute: left: 250px;
    top: 0;
    float: right;
}

#fadeshow1 {
    position: absolute;
    z-index: 0;
    top: 0;
    float: left;
}

#slideshow {
    position: relative;
    width: 790px;
    display: none;
}

#controls {
    z-index: 1000;
    font-family: Courier New;
    font-size: 12px;
    color: #222;
    position: absolute;
    bottom: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    left: 0;
    display: none;
    background-color: #fff;
    margin: 0;
    width: 100%;
    filter: alpha(opacity=.3);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

#legal {
    display: none;
}

#prev {
    font-family: Courier New;
    font-size: 12px;
    color: #222;
    padding-left: 10px;
}

#controls #next {
    position: absolute;
    left: 750px;
    width: 100%;
    font-family: Courier New;
    font-size: 12px;
    color: #222;
}

#controls #paused {
    position: relative;
    bottom: 0;
    left: 40%;
    width: 100%;
    color: #fff;
}

#toggle,
#status {
    width: 200px;
    text-align: center;
    margin: 10px auto;
}

#toggle {
    width: 100px;
    display: block;
}

#enter_man {
    position: absolute;
    background: 0x000000;
    color: #222;
    width: 115px;
    height: 32px;
    left: 320px;
    top: 190px;
}

#enter_woman {
    position: absolute;
    background: 0x000000;
    width: 115px;
    height: 32px;
    left: 320px;
    top: 230px;
}

#enter_acc {
    position: absolute;
    background: 0x000000;
    width: 115px;
    height: 32px;
    left: 320px;
    top: 265px;
}

#intro_end {
    display: none;
    background-image: url(intro-images/3.jpg);
    background-repeat: no-repeat;
    width: 792px;
    height: 528px;
}